body {
 width: 100%;
 height: 80%;
 margin: 0;
 padding: 0;
}
.title-panel {
 width: 100%;
 display: flex;
 justify-content: center;
 flex-wrap: nowrap;
}
.one-button-row {
 width: 75%;
 height: 150px;
 font-size: 5em;
 margin: 0.25em;
 margin-top: 0.5em;
}
.btn-Title {
 background-color: white;
 color: teal;
}
.question {
 width: 100%;
 height: 25%;
 margin-top: 0.5em;
 padding: 0.5em;
 text-align: center;
 background-color: lightgray;
 font-size: 6em;
 font-weight: bold;
 border: 10px solid blue;
 box-sizing: border-box;
 overflow: auto;
 -webkit-overflow-scrolling: touch;
}

.button-panel {
 width: 100%;
 display: flex;
 justify-content: center;
 flex-wrap: nowrap;
}

.three-buttons-row {
 width: 25%;
 height: 150px;
 font-size: 5em;
 margin: 0.45em;
 margin-top: 0.5em;
}

.btn-Y {
 background-color: green;
 color: white;
}

.btn-IDK {
 background-color: yellow;
 color: black;
}

.btn-N {
 background-color: red;
 color: white;
}

.two-buttons-row {
 font-size: 5em;
 margin-top: 0.5em;
 margin-left: 0.25em;
 margin-right: 0.25em;
 margin-bottom: 0.25em;
}

.btn-MY {
 background-color: chartreuse;
 color: black;
}

.btn-MN {
 background-color: orange;
 color: black;
}

.solution {
 width: 100%;
 height: 150px;
 margin-top: 0.5em;
 padding: 1em;
 text-align: center;
 background-color: lightgray;
 font-size: 6em;
 font-weight: bold;
 border: 10px solid green;
 box-sizing: border-box;
 overflow: auto;
 -webkit-overflow-scrolling: touch;
}
